if SHIELD_TELLURIUM52_L || SHIELD_TELLURIUM52_R

config ZMK_KEYBOARD_NAME
    default "tellurium52"

config ZMK_SPLIT
    default y

# 左手を親機にする。
# 左手は一貫して安定動作しているため、接続処理を任せる側を左手にした。
config ZMK_SPLIT_ROLE_CENTRAL
    default y if SHIELD_TELLURIUM52_L
    default n if SHIELD_TELLURIUM52_R

endif
