#include "tellurium52.dtsi"

&default_transform {
    col-offset = <9>;
};

&kscan0 {
    gpios
        = <&xiao_d 0 GPIO_ACTIVE_HIGH> // Row0
        , <&xiao_d 1 GPIO_ACTIVE_HIGH> // Row1
        , <&xiao_d 2 GPIO_ACTIVE_HIGH> // Row2
        , <&xiao_d 3 GPIO_ACTIVE_HIGH> // Row3
        , <&xiao_d 4 GPIO_ACTIVE_HIGH> // Row4
        , <&xiao_d 5 GPIO_ACTIVE_HIGH> // Col0
        , <&xiao_d 6 GPIO_ACTIVE_HIGH> // Col1
        , <&xiao_d 7 GPIO_ACTIVE_HIGH> // Col2
        , <&xiao_d 8 GPIO_ACTIVE_HIGH> // Col3
        ;
};

/ {
    right_encoder: right_encoder {
        compatible = "alps,ec11";
        a-gpios = <&xiao_d 9 GPIO_ACTIVE_HIGH>;
        b-gpios = <&xiao_d 10 GPIO_ACTIVE_HIGH>;
        resolution = <4>;
        status = "okay";
    };

    sensors: sensors {
        compatible = "zmk,keymap-sensors";
        sensors = <&right_encoder>;
    };
};
