#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/mouse.h>

/ {
    // 左エンコーダー: ページ送り。
    // マウススクロール(&msc)は「押している間、時間で移動量を積算する」方式のため
    // エンコーダーの一瞬の入力では動かなかった。1ノッチ=1キー入力の方式に変更。
    // 回転方向を逆にしたい場合は bindings の2つを入れ替えてください
    scroll_vertical: scroll_vertical {
        compatible = "zmk,behavior-sensor-rotate";
        #sensor-binding-cells = <0>;
        bindings = <&kp PG_DN>, <&kp PG_UP>;
    };

    // 右エンコーダー: 音量調整。
    // 回転方向を逆にしたい場合は bindings の2つを入れ替えてください
    scroll_horizontal: scroll_horizontal {
        compatible = "zmk,behavior-sensor-rotate";
        #sensor-binding-cells = <0>;
        bindings = <&kp C_VOL_UP>, <&kp C_VOL_DN>;
    };

    keymap {
        compatible = "zmk,keymap";
        default_layer {
            /* 1個目=左手エンコーダー、2個目=右手エンコーダー。
               分割OFFで左手単独のときは1個目だけが使われるので、
               左手を縦スクロールにしておく。 */
            sensor-bindings = <&scroll_vertical &scroll_horizontal>;
            bindings = <
                /* ================= 左手 26キー = アルファベット =================
                   SW1〜SW26 の物理順。押した場所と出る文字が1対1で分かるようにした。 */
                /* SW1〜SW6   */ &kp A &kp B &kp C &kp D &kp E &kp F
                /* SW7〜SW12  */ &kp G &kp H &kp I &kp J &kp K &kp L
                /* SW13〜SW19 */ &kp M &kp N &kp O &kp P &kp Q &kp R &kp S
                /* SW20〜SW26 */ &kp T &kp U &kp V &kp W &kp X &kp Y &kp Z

                /* ================= 右手 26キー = 数字と記号 =================
                   SW1〜SW26 の物理順。 */
                /* SW1〜SW6   */ &kp N1 &kp N2 &kp N3 &kp N4 &kp N5 &kp N6
                /* SW7〜SW12  */ &kp N7 &kp N8 &kp N9 &kp N0 &kp MINUS &kp EQUAL
                /* SW13〜SW19 */ &kp LBKT &kp RBKT &kp BSLH &kp SEMI &kp SQT &kp COMMA &kp DOT
                /* SW20〜SW26 */ &kp FSLH &kp GRAVE &kp TAB &kp SPACE &kp ENTER &kp BSPC &mo 1
                /* ロータリーエンコーダー押し込み: 左=左クリック 右=右クリック */
                &mkp LCLK &mkp RCLK
            >;
        };
        layer_1 {
            bindings = <
                /* 左手 26キー */
                &none &none &none &none &none &none
                &none &none &none &none &none &none
                &none &bt BT_CLR &bt BT_SEL 0 &bt BT_SEL 1 &none &none &none
                &none &none &none &none &none &none &none
                /* 右手 26キー : Bluetooth操作(親機は右手なのでここに置く)
                   SW1〜5 = プロファイル0〜4の選択
                   SW6    = 今のプロファイルの登録を消去(BT_CLR)
                   SW7    = 全プロファイル消去(BT_CLR_ALL)
                   SW8    = USB出力に切替 / SW9 = Bluetooth出力に切替 */
                &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4 &bt BT_CLR
                &bt BT_CLR_ALL &out OUT_USB &out OUT_BLE &none &none &none
                &none &none &none &none &none &none &none
                &none &none &none &none &none &none &none
                /* ロータリーエンコーダー押し込み */
                &none &none
            >;
        };
    };
};
