#include <dt-bindings/zmk/matrix_transform.h>
#include <physical_layouts.dtsi>

/ {
    chosen {
        zmk,physical-layout = &layout_main;
    };

    /* デュプレックス・マトリックスの論理変換（5行×8列想定） */
    default_transform: keymap_transform_0 {
        compatible = "zmk,matrix-transform";
        columns = <16>; // 左右合計 (8列 × 2)
        rows = <5>;    // 行数

        map = <
            /* 左手側 (26個) */
            RC(0,0) RC(0,1) RC(0,2) RC(0,3)                 RC(0,4) RC(0,5)
            RC(1,0) RC(1,1) RC(1,2) RC(1,3)                 RC(1,4) RC(1,5)
            RC(2,0) RC(2,1) RC(2,2) RC(2,3)                 RC(2,4) RC(2,5)
            RC(3,0) RC(3,1) RC(3,2) RC(3,3) RC(3,4) RC(3,5) RC(3,6) RC(3,7)
            
            /* 右手側 (26個) */
            RC(0,10) RC(0,11) RC(0,12) RC(0,13)             RC(0,8) RC(0,9)
            RC(1,10) RC(1,11) RC(1,12) RC(1,13)             RC(1,8) RC(1,9)
            RC(2,10) RC(2,11) RC(2,12) RC(2,13)             RC(2,8) RC(2,9)
            RC(3,8)  RC(3,9)  RC(3,10) RC(3,11) RC(3,12) RC(3,13) RC(3,14) RC(3,15)
        >;
    };

    /* ZMK Studio 用の物理座標定義（KLEのレイアウトを再現） */
    layout_main: layout_main {
        compatible = "zmk,physical-layout";
        display-name = "Default Layout";
        transform = <&default_transform>;
        kscan = <&kscan0>;

        /* 100 = 1Uサイズ */
        keys
            /* 左手側 */
            = <&direct_physical_attrs 100 100   0   0 0> // ESC
            , <&direct_physical_attrs 100 100 100   0 0> // Q
            , <&direct_physical_attrs 100 100 200   0 0> // W
            , <&direct_physical_attrs 100 100 300   0 0> // E
            , <&direct_physical_attrs 100 100 400  50 0> // R
            , <&direct_physical_attrs 100 100 500  50 0> // T
            , <&direct_physical_attrs 100 100   0 100 0> // Tab
            , <&direct_physical_attrs 100 100 100 100 0> // A
            , <&direct_physical_attrs 100 100 200 100 0> // S
            , <&direct_physical_attrs 100 100 300 100 0> // D
            , <&direct_physical_attrs 100 100 400 150 0> // F
            , <&direct_physical_attrs 100 100 500 150 0> // G
            , <&direct_physical_attrs 100 100   0 200 0> // Shift
            , <&direct_physical_attrs 100 100 100 200 0> // Z
            , <&direct_physical_attrs 100 100 200 200 0> // X
            , <&direct_physical_attrs 100 100 300 200 0> // C
            , <&direct_physical_attrs 100 100 400 250 0> // V
            , <&direct_physical_attrs 100 100 500 250 0> // B(L)
            , <&direct_physical_attrs 100 100 600 250 0> // L-In1
            , <&direct_physical_attrs 100 100   0 300 0> // Ctrl
            , <&direct_physical_attrs 100 100 100 300 0> // Win
            , <&direct_physical_attrs 100 100 200 300 0> // Alt
            , <&direct_physical_attrs 100 100 300 300 0> // 無変換
            , <&direct_physical_attrs 100 100 400 350 0> // Space
            , <&direct_physical_attrs 100 100 500 350 0> // L-In2
            , <&direct_physical_attrs 100 100 600 350 0> // L-In3

            /* 右手側 */
            , <&direct_physical_attrs 100 100 1100   0 0> // I
            , <&direct_physical_attrs 100 100 1200   0 0> // O
            , <&direct_physical_attrs 100 100 1300   0 0> // P
            , <&direct_physical_attrs 100 100 1400   0 0> // ;
            , <&direct_physical_attrs 100 100  900  50 0> // Y
            , <&direct_physical_attrs 100 100 1000  50 0> // U
            , <&direct_physical_attrs 100 100 1100 100 0> // K
            , <&direct_physical_attrs 100 100 1200 100 0> // L
            , <&direct_physical_attrs 100 100 1300 100 0> // @
            , <&direct_physical_attrs 100 100 1400 100 0> // :
            , <&direct_physical_attrs 100 100  900 150 0> // H
            , <&direct_physical_attrs 100 100 1000 150 0> // J
            , <&direct_physical_attrs 100 100 1100 200 0> // ,
            , <&direct_physical_attrs 100 100 1200 200 0> // .
            , <&direct_physical_attrs 100 100 1300 200 0> // /
            , <&direct_physical_attrs 100 100 1400 200 0> // \
            , <&direct_physical_attrs 100 100  800 250 0> // B(R)
            , <&direct_physical_attrs 100 100  900 250 0> // N
            , <&direct_physical_attrs 100 100 1000 250 0> // M
            , <&direct_physical_attrs 100 100 1100 300 0> // R-In1
            , <&direct_physical_attrs 100 100 1200 300 0> // R-In2
            , <&direct_physical_attrs 100 100 1300 300 0> // R-In3
            , <&direct_physical_attrs 100 100 1400 300 0> // R-In4
            , <&direct_physical_attrs 100 100  800 350 0> // Enter
            , <&direct_physical_attrs 100 100  900 350 0> // BS
            , <&direct_physical_attrs 100 100 1000 350 0> // Del
            ;
    };

    /* スキャン設定の器を定義 */
    kscan0: kscan {
        compatible = "zmk,kscan-gpio-matrix";
        wakeup-source;
        diode-direction = "col2row";
    };
};
