#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/mouse.h>

/ {
    // 左エンコーダー: 縦スクロール。回転方向を逆にしたい場合は bindings の2つを入れ替えてください
    scroll_vertical: scroll_vertical {
        compatible = "zmk,behavior-sensor-rotate";
        #sensor-binding-cells = <0>;
        bindings = <&msc SCRL_DOWN>, <&msc SCRL_UP>;
    };

    // 右エンコーダー: 横スクロール。回転方向を逆にしたい場合は bindings の2つを入れ替えてください
    scroll_horizontal: scroll_horizontal {
        compatible = "zmk,behavior-sensor-rotate";
        #sensor-binding-cells = <0>;
        bindings = <&msc SCRL_RIGHT>, <&msc SCRL_LEFT>;
    };

    keymap {
        compatible = "zmk,keymap";
        default_layer {
            // マトリクス検証のため一時的にコメントアウト(エンコーダー無効化に合わせて)
            // sensor-bindings = <&scroll_horizontal &scroll_vertical>;
            bindings = <
                /* 左手 26キー */
                &kp ESC &kp Q &kp W &kp E &kp R &kp T
                &kp TAB &kp A &kp S &kp D &kp F &kp G
                &kp LSHFT &kp Z &kp X &kp C &kp V &kp B &kp SPACE
                &kp LCTRL &kp LGUI &kp LALT &kp SPACE &mo 1 &kp ENTER &kp DEL
                /* 右手 26キー */
                &kp I &kp O &kp P &kp SEMI &kp Y &kp U
                &kp K &kp L &kp AT &kp COLON &kp H &kp J
                &kp COMMA &kp DOT &kp FSLH &kp BSLH &kp B &kp N &kp M
                &kp ENTER &kp BSPC &kp DEL &kp ENTER &kp BSPC &kp DEL &kp ENTER
                /* ロータリーエンコーダー押し込み: 左=左クリック 右=右クリック */
                &mkp LCLK &mkp RCLK
            >;
        };
        layer_1 {
            bindings = <
                /* 左手 26キー */
                &none &none &none &none &none &none
                &none &none &none &none &none &none
                &none &bt BT_CLR &bt BT_SEL 0 &bt BT_SEL 1 &none &none &none
                &none &none &none &none &none &none &none
                /* 右手 26キー */
                &none &none &none &none &none &none
                &none &none &none &none &none &none
                &none &none &none &none &none &none &none
                &none &none &none &none &none &none &none
                /* ロータリーエンコーダー押し込み */
                &none &none
            >;
        };
    };
};
